<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Artigence</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
	<h1>Artigence</h1>
	<table class="rwd-table">
	  <tr>
	    <th>Developer Name</th>
	    <th>Matching %</th>
	    <th>Component</th>
	    <th>Time Estimation</th>
	  </tr>
	  <tr>
	    <td data-th="Movie Title">Lakshmi Narayanan</td>
	    <td data-th="Genre">80 %</td>
	    <td data-th="Year">Web</td>
	    <td data-th="Gross">2 Months</td>
	  </tr>
	  <tr>
	    <td data-th="Movie Title">Prasanna</td>
	    <td data-th="Genre">45 %</td>
	    <td data-th="Year">Android</td>
	    <td data-th="Gross">3 Months</td>
	  </tr>
	  <tr>
	    <td data-th="Movie Title">Shanmuga Priya</td>
	    <td data-th="Genre">60%</td>
	    <td data-th="Year">IOS</td>
	    <td data-th="Gross">1.5 Months</td>
	  </tr>
	</table>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>